#hebrewDateContainer {
	font-size: 8vw;
	text-align: center;
	width: 100%;
	min-height: auto;
	padding-bottom: 5px;
}

#loaziDate {
	float: left;
	font-size: 4vw;
	color: gray;
	text-align: left;
	padding-bottom: 5px;
}

body {
	background-image: linear-gradient(90deg, #ffffff, #c6d07b);
}

#BeforeSunset {
	float: right;
	font-size: 4vw;

}